.glassEffect{
    width: 400px;
    margin-top: 10px;
    height: 80vh;
    max-height: 700px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.questionBox{
    width: 30px;
    height: 30px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    cursor: pointer;
}

.questionBox.attempted{
    background-color: #f94449
}

.questionBox.answered {
    background-color: #acd8a7;
}

.questionBox.reviewed {
    background-color: #ffad00;
  }