*{
    padding: 0px;
    margin: 0px;
}
.headerTest{
    height: 70px;
}
.headerTitle{
    padding: 10px;
    font-size: 35px;
    color: white;
    margin-left: 40px;
}
.questionp{
    margin-top: 55px;
    font-size: 25px;
    text-align: left;
    margin-left: 50px;
    color: white;
}
.horizontalLine{
    width: 95%;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.1;
    margin-left: 50px;
    margin-top: 5px;
}
.questionpara{
    margin-left: 50px;
    margin-top: 25px;
    text-align: left;
    color: white;
    font-size: 20px
}

.optionsdiv {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 50px; 
}

.optionsdiv div {
    margin-bottom: 8px; 
}

.optionsdiv label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    font-size: 20px
}

.optionsdiv input[type="radio"] {
    margin-right: 10px; 
}

#driverbutton1{
    width: 150px;
    margin-top: 200px;
    margin-right: 20px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-left: 750px;
}
#driverbutton2{
    width: 150px;
    margin-top: 200px;
    margin-right: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

}
.submitbutton{
    width: 150px;
    margin-top: 200px;
    border-radius: 100px;
}

.cameraContainer {
    display: flex;
    justify-content: center;
    margin-left: 1550px;
  }
  
  .cameraPreview {
    width: 100%;
    width: 250px; 
    border: 2px solid #ccc;
    border-radius: 10px; 
    
  }
  .loading{
    margin-top:'350px';
    margin-left:'850px';
    color:'white';
    font-size:'30px'
  }