body {
  background: rgb(8,14,23);
  background: radial-gradient(ellipse at center, rgba(8,14,23,1) 9%, rgba(4,21,39,0.9752275910364145) 53%, rgba(8,14,23,1) 91%) no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

.signup-container {
    width: 400px;
    height: 350px;
    margin-top: 280px;
    margin-left: 750px;
    padding: 20px;
    border: 1px solid #dddddd3b;
    border-radius: 5px;
    background-color: #050F19;
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #05070A;
    color: white;
  }
  
  button {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ee9044;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #55a9e0;
  }

  .link-to-home {
    text-decoration: none;
    color: #007bff; 
    font-size: 14px;
}  
